<!DOCTYPE html>
<html>
<head>
  <title>Panda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
      <p>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "google_sign_in" %>
      </p>
      <p>  
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "facebook_sign_in" %>
      </p>
      <p>
        <%= link_to "Sign in with Linkedin", "/auth/linkedin", id: "facebook_sign_in" %>
      </p>  
      <% end %>
    </div>
<div>
<%= yield %>
</div>
</body>
</html>
